{% extends 'base.html' %} 	<!-- Inherit from the base HTML template -->

{% block mainBody %}
	<!-- Verify that we have a user & calendar data -->
	{% if user %}
	<h1>Welcome, {{user}}!</h1>
	<p>
		Today's details:<br>
		{{weekday}}, {{month}} {{date}}, {{year}}<br>
		<ul>
		<div id="detailWrapper">
		{% for item in details %}
			<div id="detailDiv{{loop.index}}">
				<li>{{item}}</li><br>
					<button class="btn" type="button" id="delete" num="{{loop.index}}"
					        data="{{item}}" value="Delete">Delete</button>
					<button class="btn" type="button" id="edit"   num="{{loop.index}}"
					        data="{{item}}" value="Edit">Edit</button>
					<input  type="text" style="visibility:hidden" id="input" num="{{loop.index}}"
					        data="{{item}}" value="{{item}}"></input>
					<button class="btn" type="button" style="visibility:hidden" id="save" num="{{loop.index}}"
					        data="{{item}}" value="Save">Save</button>

			</div>
			{% endfor %}

		</div>
		</ul>
		<div id="addDetailSection">
			<button class='btn' type="button" id="addBtn">Add Detail</button>
			<input type='text' style='visibility:hidden;' id='newDetailInput'></input>
		</div>
		<div id="jumpDiv">
			<p>
				<input type='text' id='jumpInput' value="mm/dd/yyyy">
				<input class='btn' type='submit' id='jump' value='Jump to day'>
			</p>
		</div>
	</p>
	{% else %}
	<p>It appears that you aren't logged in.  Follow the link below to remedy that.</p>
	<a href={{url_for('login')}}>Login Page</a>
	{% endif %}
	<p id='comsField'></p>
	<br><br>
	<div class="container" id="viewChange">
		<button class='btn' type="button" id="prev">Yesterday</button>
		<button class='btn' type="button" id="next">Tomorrow</button>
		<hr>
		<button class='btn' type="button" id="week">Week View</button>
		<button class='btn' type="button" id="month">Month View</button>
	  <button class='btn' type="button" id="year">Year View</button>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="/static/js/day.js"></script>
<script>
// Maintain a count of details on this page
var detailCount = {{details|length}};
console.log(detailCount)

// Rebuild local copy of the day as a global
currentDay = {};
currentDay.stats = ['{{weekday}}', '{{date}}', '{{month}}', '{{year}}'];
currentDay.labels = ['day','date','month','year'];

// Build a list of details and an enumeration of them for JSON labels
{% for detail in details %}
	currentDay.stats.push('{{detail}}');
	currentDay.labels.push('detail' + '{{loop.index}}');
{% endfor%}

//Test fake JSON form
console.log(serialize(currentDay.labels, currentDay.stats));
</script>



{% endblock %}
