{% extends 'base.html' %} 	<!-- Inherit from the base HTML template -->

{% block mainBody %}
	<!-- Verify that we have a user & calendar data -->
	{% if user %}
	<h1>Welcome, {{user}}!</h1>
	<p>
		Today's details:<br>
		{{weekday}}, {{month}} {{date}}, {{year}}<br>
		<ul>
		<div id="detailWrapper">
		{% for item in details %}
			<div id="detailDiv{{loop.index}}">
				<li>{{item}}</li><br>
					<button class="btn" type="button" id="delete" num="{{loop.index}}"
					        data="{{item}}" value="Delete">Delete</button>
					<button class="btn" type="button" id="edit"   num="{{loop.index}}"
					        data="{{item}}" value="Edit">Edit</button>
					<input  type="text" style="visibility:hidden" id="input" num="{{loop.index}}"
					        data="{{item}}" value="{{item}}"></input>
					<button class="btn" type="button" style="visibility:hidden" id="save" num="{{loop.index}}"
					        data="{{item}}" value="Save">Save</button>

			</div>
			{% endfor %}

		</div>
		</ul>
		<div id="addDetailSection">
			<button class='btn' type="button" id="addBtn">Add Detail</button>
			<input type='text' style='visibility:hidden;' id='newDetailInput'></input>
		</div>
	</p>
	{% else %}
	<p>It appears that you aren't logged in.  Follow the link below to remedy that.</p>
	<a href={{url_for('login')}}>Login Page</a>
	{% endif %}
	<p id='comsField'></p>
	<br><br>
	<div class="container" id="viewChange">
		<button class='btn' type="button" id="prev">Yesterday</button>
		<button class='btn' type="button" id="next">Tomorrow</button>
		<hr>
		<button class='btn' type="button" id="week">Week View</button>
		<button class='btn' type="button" id="month">Month View</button>
	  <button class='btn' type="button" id="year">Year View</button>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script>

// Maintain a count of details on this page
var detailCount = {{details|length}};
console.log(detailCount)

// Rebuild local copy of the day as a global
currentDay = {};
currentDay.stats = ['{{weekday}}', '{{date}}', '{{month}}', '{{year}}'];
currentDay.labels = ['day','date','month','year'];

// Build a list of details and an enumeration of them for JSON labels
{% for detail in details %}
	currentDay.stats.push('{{detail}}');
	currentDay.labels.push('detail' + '{{loop.index}}');
{% endfor%}

//Test fake JSON form
console.log(serialize(currentDay.labels, currentDay.stats));

// Button handler for views
$(function(){
	$('#viewChange').find('*').click(function(){
		var payload = 'view=' + $(this).attr("id");
		$.ajax({
			url: 	 '/viewChange',
			data:    payload,
			type: 	 'POST',
			success: function(reply){
				// Once the server has confirmed a change, redirect
				// Parse the JSON into an object
				payload = JSON.parse(reply);
				if (payload.status == 'OK'){
					console.log("Changed view successfully");
					// redirect, cueing the server to display the updated view
					window.location.replace(payload.link);
					//window.location.replace("http://localhost:5000/");
				}
				else{
					failMessage('We\'re experiencing difficulties processing your request.  Please try again later.');
					console.log('Bad status: ');
					console.log(payload);
				}
			}
		});// End ajax
	});
});

// Button handler for details
// This one is different from the other button handlers in that it
// will be interacting with dynamically created DOM elements.  For some
// arcane reason, dynamically created items will not be selectable unless
// the 'on' function is used.  Hooray.
$(function(){
	$("#detailWrapper").on('click', "[value]", function(){
		console.log('Clicked a button with number ' + $(this).attr("num"));
		var div_pattern = "#detailDiv" + $(this).attr("num")
		var delete_btn = $(div_pattern).find('#delete')
		var edit_btn = $(div_pattern).find('#edit')
		var save_btn = $(div_pattern).find('#save')
		var input_btn = $(div_pattern).find('#input')
		var orig_detail = $(div_pattern).find('li')

		// Case delete button
		if($(this).attr("id") == "delete"){
			// Update the local day object
			modifyDetail(currentDay, $(this).attr("data"), "", true);

			// Send changes to server
			saveChanges(currentDay);

			// Delete the div and its contents completely
			$(div_pattern).remove()
		}

		//Case edit button
		else if($(this).attr("id") == "edit"){
			// Find the input field and save button for this and make visible
			input_btn.css('visibility', 'visible')
			save_btn.css('visibility', 'visible')
		}

		//Case Save button
		else if($(this).attr("id") == "save"){

			// Fetch new detail for this detail id number
			var newDetail = sanitize(input_btn.val());

			// Verify that there is in fact a new detail before making changes
			if (newDetail.length <= 0){
				failMessage('No valid detail text.  Use the delete button to remove a detail');
				input_btn.val($(this).attr("data"));
				return;
			}

			console.log("Saving new detail " + newDetail + " over old detail " + $(this).attr('data'));

			// Update the local day object
			modifyDetail(currentDay, $(this).attr("data"), newDetail, false);

			// Update all of this detail's buttons with the new detail text
			$(div_pattern).find('*').attr("data", newDetail);

			// Update original template value
			orig_detail.text(newDetail);

			// Hide the input and save button again
			input_btn.css('visibility', 'hidden')
			save_btn.css('visibility', 'hidden')

			// Send changes to server
			saveChanges(currentDay);
		}
		return;
	});
});

// Button handler for add detail
$(function(){
	$('#addDetailSection').find('*').click(function(){
		var detailDiv = $('#detailWrapper');

		// The template engine counts starting at 1, which is not so great in
		// this context
		var idNum = detailCount + 1;

		// Build HTML buttons for a new detail
		var newDetailSetup = buildDetail(idNum);

		// Tack it onto the end of the detailDiv
		$('#detailWrapper').append(newDetailSetup);

		detailCount += 1;
		console.log(detailCount);
	});
});


function buildDetail(num){
	var p1  = '<div id="detailDiv'
	var p2  = '"><li>New</li><br><button class="btn" type="button" id="delete" num="'
	var p3  = '"data="New" value="Delete">Delete</button><button class="btn" type="button" id="edit"   num="'
	var p4  = '" data="New" value="Edit">Edit</button><input  type="text" style="visibility:hidden" id="input" num="'
	var p5  = '" data="New" value="New"></input><button class="btn" type="button" style="visibility:hidden" id="save" num="'
	var p6 = '" data="New" value="Save">Save</button></div>'

	return p1 + num + p2 + num + p3 + num + p4 + num + p5 + num + p6;
}


// Modify detail function
function modifyDetail(day, oldDetail, newDetail, deleteFlag){
	console.log('Params: old detail: ' + oldDetail);
	console.log('New detail: ' + newDetail);
	console.log(day.stats);
	if(day.stats.length > 4){
		var done = false;
		// Locate detail
		// start at index 4 so expected values are never changed
		for(var i = 4; i<day.stats.length; i++){
			// If the detail exists...
			if (day.stats[i] == newDetail){
				console.log('Match:');
				console.log( newDetail + ' matches existing detail ' + day.stats[i]);
				if(deleteFlag){
					console.log('Removing detail: ' + oldDetail);
					// Remove the detail and the corresponding label
					day.stats.splice(i,1);
					day.labels.splice(i,1);
					console.log('done');
					console.log(day.stats);
				}
				else{
					// Replace the value.  Leave the label unchanged.
					console.log("Changing detail");
					day.stats[i] = newDetail;
					console.log("Detail changed to " + newDetail);
					console.log(day.stats);
				}
				done = true;
				break;
			}
		} //end for
		if(!done){
			// This is a new detail
			// Get the number of the last detail
			lastDetail = day.labels[day.labels.length-1];
			newNum = lastDetail.charAt(lastDetail.length-1);
			newNum++;
			day.stats.push(newDetail);
			day.labels.push('detail' + newNum);
			console.log(day.stats);
		}
	} //end if
	else{
		// This is the first detail
		day.stats.push(newDetail);
		day.labels.push('detail0');
	}
	return;
};

function failMessage(msg){
	$('#comsField').css('color', 'red');
	$('#comsField').text(msg);
};

function saveChanges(currentDay){
	// Send out an ajax call and assign callbacks to the reply
	console.log(serialize(currentDay.labels, currentDay.stats));
	$.ajax({
		url: 	 '/process',
		data:    serialize(currentDay.labels, currentDay.stats), // Faking a form
		type: 	 'POST',
		success: function(reply){
					payload = JSON.parse(reply)
					console.log(reply);
					if(reply.status == 'BAD'){
						failMessage('Failed to communicate with the server, please try again later.');
					}
					else{
						successMessage('Your changes were saved!');
						console.log('OK');
					}
				 },
		error: 	 function(reply){
					console.log(reply);
					failMessage('Failed to communicate with the server, please try again later.');
				 }
	});// End ajax
}; // End saveChanges

// This function was taken from a stackexchange post, which is kind of
// ridiculous considering JavaScript is a web language.  It should be built in..
// Retrieved September 2016
// http://stackoverflow.com/questions/16171320/remove-all-slashes-in-javascript#16171353
function sanitize(word){
	console.log(word);
	result = word.replace(/\\/g, '');
	result = result.replace(/\/\//g, '');
	result = result.replace(/\&/g, '');
	result = result.replace(/%/g, '');
	result = result.replace(/\$/g, '');
	result = result.replace(/#/g, '');
	console.log(result);
	return result;
};

function serialize(names,vals){
	equals = '=';
	delimiter = '&';
	result = Array();
	for(var i = 0; i < vals.length; i++){
		result.push(names[i] + equals + vals[i])
	}
	return result.join(delimiter)
};

function successMessage(msg){
	$('#comsField').css('color', 'green');
	$('#comsField').text(msg);
};

</script>

{% endblock %}
