{% extends 'base.html' %} # use the base template as a parent
{% block mainBody %}
	<!-- Verify that we have a calendar -->
	{% if calendar %}
	<h1>Welcome, {{user}}!</h1>
	<p>
		Month details:<br>

		{{calendar['currentDay']['day']}}, {{calendar['currentDay']['month']}} {{calendar['currentDay']['date']}}, {{calendar['name']}}<br>
		<div id = "monthCal">
			<li>{{item}}</li><br>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
		  <button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
		  <button class='btn ' style = "50" type = "button" id="Monday">Day</button>
		  <button class='btn ' style = "50" type = "button" id="Monday">Day</button>
		  <button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<br>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<br>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<br>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<br>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<button class='btn ' style = "50" type = "button" id="Monday">Day</button>
			<br>
		</div>


	</p>
	{% else %}
	<p>It appears that you aren't logged in.  Follow the link below to remedy that.</p>
	<a href={{url_for('login')}}>Login Page</a>
	{% endif %}
	<p id='comsField'></p>
	<br><br>
	<div class="container" id="viewChange">
		<button class='btn' type="button" id="day">Day View</button>
		<button class='btn' type="button" id="week">Week View</button>
		<button class='btn' type="button" id="year">Year View</button>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script>

// Button handler for views
$(function(){
	$('#viewChange').find('*').click(function(){
		var payload = 'view=' + $(this).attr("id");
		$.ajax({
			url: 	 '/viewChange',
			data:    payload,
			type: 	 'POST',
			success: function(reply){
				// Once the server has confirmed a change, redirect
				// Parse the JSON into an object
				payload = JSON.parse(reply);
				if (payload.status == 'OK'){
					console.log("Changed view successfully");
					// redirect, cueing the server to display the updated view
					window.location.replace(payload.link);
					//window.location.replace("http://localhost:5000/");
				}
				else{
					console.log('Bad status: ');
					console.log(payload);
				}
			}
		});// End ajax
	});
});

function failMessage(msg){
	$('#comsField').css('color', 'red');
	$('#comsField').text(msg);
}


// This function was taken from a stackexchange post, which is kind of
// ridiculous considering JavaScript is a web language.  It should be built in..
// Retrieved September 2016
// http://stackoverflow.com/questions/16171320/remove-all-slashes-in-javascript#16171353
function sanitize(word){
	console.log(word);
	result = word.replace(/\\/g, '');
	result = result.replace(/\/\//g, '');
	result = result.replace(/\&/g, '');
	result = result.replace(/%/g, '');
	result = result.replace(/\$/g, '');
	result = result.replace(/#/g, '');
	console.log(result);
	return result;
}

function serialize(names,vals){
	equals = '=';
	delimiter = '&';
	result = Array();
	for(var i = 0; i < vals.length; i++){
		result.push(names[i] + equals + vals[i])
	}
	return result.join(delimiter)
}

function successMessage(msg){
	$('#comsField').css('color', 'green');
	$('#comsField').text(msg);
}

</script>
{% endblock %}
