{% extends 'base.html' %} # use the base template as a parent
{% block mainBody %}
	<!-- Verify that we have a calendar -->
	{% if user %}
	<h1 style="text-transform: uppercase;">{{month}} {{year}}</h1>
	<p>
		<div class='btn_container pull-left'>
			<div id="week0" class="btn_container pull-right"></div><br><br><br><br><br>
			<div id="week1" class="btn_container pull-right"></div><br><br><br><br><br>
			<div id="week2" class="btn_container pull-right"></div><br><br><br><br><br>
			<div id="week3" class="btn_container pull-right"></div><br><br><br><br><br>
			<div id="week4" class="btn_container pull-right"></div><br><br><br><br><br>
			<div id="week5" class="btn_container pull-right"></div><br><br><br><br><br>
		</div>
	</p>
	{% else %}
	<p>It appears that you aren't logged in.  Follow the link below to remedy that.</p>
	<a href={{url_for('login')}}>Login Page</a>
	{% endif %}
	<p id='comsField'></p>
	<br><br>
	<div class='footer' style='margin-top:650px;' id="viewChange">
		<button class='btn' type="button" id="day">Day View</button>
		<button class='btn' type="button" id="week">Week View</button>
		<button class='btn' type="button" id="year">Year View</button>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script>

// Setup Display

var allWeeks = Array();
{% for week in weeks %}
	var temp = Array();
	{% for day in week %}
		temp.push('{{day}}');
	{% endfor %}
	allWeeks.push(temp);
{% endfor %}

month = '{{month}}';
year = '{{year}}';
var	names = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
var months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
var firstDay = '{{firstDay}}'.substring(0,3);
var lastDay = '{{lastDay}}'.substring(0,3);

//Globals for trimming days
trim_front = names.indexOf(firstDay);
trim_back = names.indexOf(lastDay);
</script>
<script src="/static/js/month.js"></script>
<script>
// Build html elements
for(var i = 0; i <allWeeks.length; i++){
	// Locate a week element
	var name = '#week' + i;

	// Generate a set of buttons
	this_week = generate_week_btns(allWeeks[i]);

	console.log(this_week);

	// Append the buttons
	$(name).append(this_week);
}

// Hide days from previous and next month
// Don't trim the first January front
if(month != 'january' || year != '2016'){
	var firstWeek = $('#week0');
	for(var i = 0; i<trim_front; i++){
		var selector = 'button:nth-child(' + (i+1) + ')';
		firstWeek.find(selector).css('visibility', 'hidden');
		console.log('Deleting ' + names[i]);
	}
}

// Don't trim the last December back
if(month != 'december' || year != '2017'){
	var lastWeek = $('#week' + (allWeeks.length -1));
	for(var i = allWeeks[allWeeks.length-1].length-1; i>trim_back; i--){
		var selector = 'button:nth-child(' + (i+1) + ')';
		lastWeek.find(selector).css('visibility', 'hidden');
	}
}

</script>

{% endblock %}
