{% extends 'base.html' %} # use the base template as a parent
{% block mainBody %}
	<!-- Verify that we have a calendar -->
	{% if user %}
	<h1 style="text-transform: uppercase;">{{month}} {{year}}</h1>
	<p>
		<div id="daysDiv">
			{%for day in days%}
			<button class='btn'  style = "width: 200px" type = "button" id="{{loop.index}}" value="{{day}}"> {{day}} {{dayNames[loop.index-1]}} </button>
			<br>
			{%endfor%}
		<div>
	</p>
	{% else %}
	<p>It appears that you aren't logged in.  Follow the link below to remedy that.</p>
	<a href={{url_for('login')}}>Login Page</a>
	{% endif %}
	<p id='comsField'></p>
	<br><br>
	<div class="container" id="viewChange">
		<button class='btn' type="button" id="day">Day View</button>
		<button class='btn' type="button" id="month">Month View</button>
	  	<button class='btn' type="button" id="year">Year View</button>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src='/static/js/week.js'></script>
<script>
var month = '{{month}}';
var year = '{{year}}';
var months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december'];
</script>
{% endblock %}
