{% extends 'base.html' %} # use the base template as a parent
{% block mainBody %}
	<!-- Verify that we have a calendar -->
	{% if user %}

	</style>
	<h1>Welcome, {{user}}!</h1>
	<p>
		Year details:<br>

	</p>
<div id="monthsDiv">
		<button class="btn" type="button" data="2016" id="january"><img src="/static/img/1 2016.png"/></button>
		<button class="btn" type="button" data="2016" id="february"><img src="/static/img/2 2016.png"/></button>
		<button class="btn" type="button" data="2016" id="march"><img src="/static/img/3 2016.png"/></button>
		<button class="btn" type="button" data="2016" id="april"><img src="/static/img/4 2016.png"/></button> &nbsp;

		<button class="btn" type="button" data="2017" id="january"><img src="/static/img/1 2017.png"/></button>
		<button class="btn" type="button" data="2017" id="february"><img src="/static/img/2 2017.png"/></button>
		<button class="btn" type="button" data="2017" id="march"><img src="/static/img/3 2017.png"/></button>
		<button class="btn" type="button" data="2017" id="april"><img src="/static/img/4 2017.png"/></button>
		<br>
		<button class="btn" type="button" data="2016" id="may"><img src="/static/img/5 2016.png"/></button>
		<button class="btn" type="button" data="2016" id="june"><img src="/static/img/6 2016.png"/></button>
		<button class="btn" type="button" data="2016" id="july"><img src="/static/img/7 2016.png"/></button>
		<button class="btn" type="button" data="2016" id="august"><img src="/static/img/8 2016.png"/></button> &nbsp;

		<button class="btn" type="button" data="2017" id="may"><img src="/static/img/5 2017.png"/></button>
		<button class="btn" type="button" data="2017" id="june"><img src="/static/img/6 2017.png"/></button>
		<button class="btn" type="button" data="2017" id="july"><img src="/static/img/7 2017.png"/></button>
		<button class="btn" type="button" data="2017" id="august"><img src="/static/img/8 2017.png"/></button>
		<br>
		<button class="btn" type="button" data="2016" id="september"><img src="/static/img/9 2016.png"/></button>
		<button class="btn" type="button" data="2016" id="october"><img src="/static/img/10 2016.png"/></button>
		<button class="btn" type="button" data="2016" id="november"><img src="/static/img/11 2016.png"/></button>
		<button class="btn" type="button" data="2016" id="december"><img src="/static/img/12 2016.png"/></button> &nbsp;

		<button class="btn" type="button" data="2017" id="september"><img src="/static/img/9 2017.png"/></button>
		<button class="btn" type="button" data="2017" id="october"><img src="/static/img/10 2017.png"/></button>
		<button class="btn" type="button" data="2017" id="november"><img src="/static/img/11 2017.png"/></button>
		<button class="btn" type="button" data="2017" id="december"><img src="/static/img/12 2017.png"/></button>
		<br>
</div>
	<style>
	.btn{
		height:100px;
		width: 100px;
	}
	.divider{
    width:5px;
    height:auto;
    display:inline-block;
	}
	</style>
	{% else %}
	<p>It appears that you aren't logged in.  Follow the link below to remedy that.</p>
	<a href={{url_for('login')}}>Login Page</a>
	{% endif %}
	<p id='comsField'></p>
	<br><br>
	<div class="container" id="viewChange">
		<button class='btn' type="button" id="day">Day View</button>
		<button class='btn' type="button" id="week">Week View</button>
		<button class='btn' type="button" id="month">Month View</button>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src='/static/js/year.js'></script>
{% endblock %}
